<%- include("partials/header.ejs") %>
<div class="about-container">
    <h1>About me</h1>
<p>Donec vestibulum massa diam, quis dapibus magna condimentum quis. Phasellus rhoncus lacus vitae libero blandit faucibus. Donec vitae lectus quis nisl luctus sagittis non ut justo. Aenean efficitur ut turpis sit amet elementum. Quisque suscipit tempor tincidunt. Proin nec luctus nisi, ultricies volutpat metus. Quisque turpis diam, congue quis augue quis, tristique imperdiet orci. Sed quis dolor dolor. Etiam volutpat tempus nunc non luctus. Nulla in purus sodales, pretium libero et, eleifend leo. Quisque vel sapien dapibus ex maximus fermentum. Donec sed commodo nulla. Curabitur quis tellus non arcu facilisis viverra. Aliquam placerat ultricies blandit. Aliquam tristique ultricies lacus, vitae egestas magna gravida a. Vivamus lacinia libero at leo mollis pretium ac semper enim. Nunc metus nisl, lobortis at ultricies nec, dignissim sit amet tortor. Fusce et lectus ligula. Cras volutpat, nisl eu pretium viverra, tortor lacus finibus erat, vel porttitor magna purus in sapien.</p>
</div>
<%- include("partials/footer.ejs") %>