<%- include("partials/header.ejs") %>
<div class="contact-container">
    <h1 style="margin-bottom: 30px;">Contact me!</h1>
<p>
    Email:Kiyomi@email.com<br>
    Phone:888-888-8888
</p>
</div>
<%- include("partials/footer.ejs") %>